// Override this file to add your own SCSS styling.
// .navbar {
//  height: 100px;
//  background: $sta-menu-primary;}


// style the nav bar elements
.navbar-brand img {
    max-height: 26px;
    float: left;
    padding-right: 10px;
}


// add yellow rectangles on hover in nav bar
#navbar-main .main-menu-item ul li .nav-link:hover { 
	background-color: #ffc107;
	
}


.form-control:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.2rem #ffd766; }


.dark .form-control:focus {
  background-color: #44475a;
  border-color: #ffc107;
  box-shadow: 0 0 0 0.2rem #ffbd00; }


// button 

.btn-outline-primary {
  color: #1565c0;
  border-color: #1565c0; } 
  .btn-outline-primary:hover {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 202, 51, 0.5); }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #ffc107;
    background-color: transparent; }
  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary.active:not(:disabled):not(.disabled), .show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
    .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary.active:not(:disabled):not(.disabled):focus, .show > .btn-outline-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 202, 51, 0.5); }


.navbar .navbar-nav .nav-link .fa-moon,
.navbar .navbar-nav .nav-link .fa-sun {
    color: #ffc107;
}


.blog-post-footer {
  display: inline-block; 
  text-align: center; 
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  vertical-align: middle;
}
