{{ partial "page_edit" . }}
{{ partial "tags" . }}
<!-- {{ partial "share" . }} -->

 <div class="row justify-content-center">
    <div class="blog-post-footer">
        <applause-button color="#409206" style="width: 65px; height: 65px;" multiclap="true" url="{{ .Permalink }}"/>
    </div>

    <div class="text-wrap" style="width: 9rem; padding-top: 0.6rem; text-align: center;">
        {{ partial "share-buttons.html" . }}
    </div>

</div>


{{ partial "page_author" . }}
{{ partial "comments" . }}

{{ if site.Params.section_pager }}
<div class="article-widget">
  {{ partial "section_pager" . }}
</div>
{{ end }}

{{ partial "page_related" . }}
